
.lazy {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 48px;
}
.odin {
    text-align: center;
}
.lazy-choices {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.recipe-name {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.recipe-pic {
    text-align: center;
}
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}